html {
    font-size: 20px;  /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Roboto', sans-serif;  /* this should be the rest of the output you got from Google fonts */
    background-color: #00539F;
}

body {
    width: 860px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 2px black;
    font-size: 60px;
    text-align: center;
}
h2 {
    text-align: center;
}

p, ul {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0px;
}

a:hover {
    color: chartreuse;
}


img {
    display: block;
    margin: 0 auto;
    width: 500px;
}